/* body{
    background-color: blue;
}
@media (min-width: 600px){
    body{
        background-color: red;
    } */


/* .container{
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media(min-width: 768px){
    .container{
        flex-direction: column;
    }
    .content{
        width: 100%;
        height: 40%;
    }
}
.content{
    background-color: blueviolet;
    width: 30%;
    height: 90%;
    margin: 10px;
    color: white;
} */


@media(max-width: 900px){
    .box1{
        flex-direction: column;
    }
    .box2{
    flex-direction: column; 
    }
}

.box1{
    display: flex;
    background-color: rgb(191, 196, 52);
    height: 30vh;
    justify-content: center;
}
    
.content1{
    background-color: rgb(66, 178, 196);
    color: white;
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.box2{
    display: flex;
    background-color:rgb(4, 52, 89);
    height: 70vh;
    justify-content: center;
    align-items: center;
}
    
.content2{
    background-color: rgb(231, 112, 8);
    color: black;
    margin: 10px;
    padding-left: 10px;
    width: 50%;
    height: 80%;
}
